@import "utilities.scss";
@import "display_styles_mixins.scss";

.my-experience-section {
  background: #0f0f0f; //222b35;
  display: block;
  color: white;
  overflow-x: hidden;
  .heading {
    font-family: "Google Sans";
    font-size: 40px;
    font-weight: 800;
    @include marginY(auto, auto);
    @include marginX(auto, auto);
    @include for-phones {
      font-family: "Sarabun";
      font-size: 30px;
    }
  }
  .my-experience-text {
    font-family: "Google Sans";
    font-size: 16.5px;
    max-width: 700px;
    @include marginY(auto, auto);
    @include marginX(unset, auto);
    @include for-phones {
      font-size: 12.5px;
    }
  }
  .vertical-timeline-element-title {
    font-size: 20px;
  }
  .vertical-timeline-element-subtitle {
    font-size: 16px;
  }
  .vertical-timeline-element-text {
    font-size: 13px;
  }
  .vertical-timeline-element-icon {
    width: 15px !important;
    height: 15px !important;
    margin-left: -7.5px !important;
    margin-top: 20px !important;
    background: #f23d4b;
    color: #fff;
    @include for-tablets {
      width: 10px !important;
      height: 10px !important;
      margin-left: 15px !important;
      margin-top: 20px !important;
    }
    @include for-phones {
      width: 10px !important;
      height: 10px !important;
      margin-left: 15px !important;
      margin-top: 20px !important;
    }
  }
  .vertical-timeline-element-date {
    @include marginX(20px, 20px);
  }
  .experiences-container {
    display: flex;
    flex-direction: column;
    // height: 100vh;
    // overflow-y: scroll;
    // @include for-phones {
    //   height: 90vh;
    // }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
